<%= form_for(@user) do |f| %>
  

<div class="col-md-8 col-md-offset-2">
  <div class="input-group">
    <%= f.text_field :email, class: "form-control", placeholder: "Type your email here" %>
    <span class="input-group-btn">
      <%= f.submit "Notify me", class: "btn btn-danger" %>
    </span>
    <% end %>
  </div>
</div>
