<header class="bg-img">
		<div class="main-text-center-page">
			<div class="col-md-8 col-md-offset-2">
			<h1 class="header-text">Build your fanbase and find more places to play your music</h1>
			<p class="intro-text">Sign up to know when we launch</p>
				<%= render 'form' %>
			</div>
		</div>
</header>
